/* CSS Reset */
@import url(./reset.css);

/* Font Styles */
@import url(./font.css);

/* Root Variables */
:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}

body {
  background-color: var(--grey-900);
  color: var(--white);
  padding: 5rem 1rem;
  /* text-align: center; */
}

main {
  padding: 1rem;
  background-color: var(--grey-800);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.img-box {
  width: 100%;
  max-width: 5rem;
  border-radius: 50%;
  background-color: var(--green);
  overflow: hidden;
}

h3 {
  color: var(--green);
}

.links {
  display: grid;
  gap: 1rem;
  width: 100%;
}

button {
  border-radius: 0.5rem;
  border: none;
  padding: 0.8rem;
  color: var(--white);
  background-color: var(--grey-700);
  font-weight: 700;
  /* width: 100%; */
}
